node_modules
.env
build/
.vscode/
soljson*
package-lock.json
*.xlsx
test/log/
scripts/log/
bin/contracts/*
!bin/contracts/addressBscTest.json
!bin/contracts/addressBscMain.json
!bin/contracts/addressBscMatic.json
!bin/contracts/Bank.abi
!bin/contracts/BankConfig.abi
!bin/contracts/DEMA.abi
!bin/contracts/ERC20.abi
!bin/contracts/UserProfile.abi
!bin/contracts/Farm.abi
!bin/contracts/MdxGoblin.abi
!bin/contracts/MdexFactory.abi
!bin/contracts/MdexPair.abi
!bin/contracts/BSCPool.abi